a {
  color: inherit;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: inline-block;
  /* max-width: 100%; */
}

body {
  background: #001821;
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1, 42;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

bogy,
html {
  height: 100%;
}

.main-page-wrapper {
  background: url("./img/background/elephant.png") center top no-repeat, url("./img/background/mountain.png") right bottom 165px no-repeat
}

.wrapper {

  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.hello__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 198px;
}

.header {
  padding-top: 25px;
  margin-bottom: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__column {
  display: flex;
  align-items: center;
}

.header__column--section {
  margin-bottom: 0;
}

.header__column--align--right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 80px;
}

.menu__item {
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
  font-size: 14px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item--active {
  color: #da0100
}

.menu__link {
  text-decoration: none;
}

.menu__link:hover {
  color: #da0100
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.contacts {

  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
  white-space: nowrap;
}

.contacts__info {
  font-size: 11px;
}

.contacts__schedule {
  /* width: 153px; */
  position: relative;
  margin-left: 93px;
}

.contact__link {
  font-size: 13px;
  text-decoration: underline;
  /* display: block; */
}

.contact__list {
  display: block;
  color: #1E1F20;
  line-height: 1.42em;
}

.contact__dropdown {
  background: #EDEDED;
  opacity: 0.8;
  border-radius: 4px;
  padding: 16px 20px;
  width: 180px;
  margin-top: 9px;
  text-align: left;
  font-size: 13px;
  position: absolute;
  right: -9999px;
  opacity: 0;
  transition: opacity 0.3s;
  /* pointer-events: none; */
}

.contacts__schedule:hover .contact__dropdown {
  right: 0;
  opacity: 1;
  pointer-events: visible;
}

.contact__dropdown:before {
  content: '';
  width: 100%;
  height: 9px;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.contact__dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom-width: 9px;
  border-bottom-color: #EDEDED;
  border-top: 0;
  position: absolute;
  right: 67px;
  /* top: 18px; */
  bottom: 100%;

}

.contact__item {
  font-weight: 700;
}

.contact__item--break {
  font-weight: 600;
}

.main {
  flex: 1;
}

.hello {
  width: 45%;
}

.hello__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.4;
  margin-bottom: 27px;
  -webkit-text-stroke-color: black;
}

.hello__text {
  font-style: 18px;
  margin-bottom: 53px;
}

.button {
  border-radius: 35px;
  padding: 18px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  border: solid 1px #F5170E;
  height: 55px;
  width: 135px;
  cursor: pointer;
}

.more-button {
  background: #F5170E;
  color: #ffffff;
  width: 168px;
  padding: 18px 39px;
}

.more-button:hover {
  background: #fff;
  color: #F5170E;
}

.uncommon-button {
  color: #F5170E;
}

.uncommon-button:hover {
  background: #F5170E;
  color: #ffffff
}

.uncommon-button-second {
  background: #F5170E;
  color: #ffffff
}

.uncommon-button-second:hover {
  background: #fff;
  color: #F5170E;
}

.offers {
  margin-bottom: 131px;
  display: flex;
  justify-content: space-between;
}

.offers__item {
  width: calc(100% / 3 - 18px);
}

.offers__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 55px;
  margin-top: 268px;
  color: #ffffff;
}

.offer {
  min-height: 449px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.offer__picture {
  width: 100%;
  height: 144px;
  object-fit: cover;
}

.offer__item:last-child {
  margin-right: 0;
}

.offer__content {
  color: #000000;
  padding-top: 33px;
  padding-left: 21px;
  padding-right: 24px;
  padding-bottom: 26px;
  font-style: 24px;
}

.offer__subtitle {
  font-weight: bold;
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.offer__features {
  display: flex;
  align-items: center;
  color: #666666;
  font-style: 16px;
  justify-content: space-between;
}

.offer__future {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-right: 25px;
}

.offer__features-left,
.offer__features-right {
  display: flex;
  align-items: center;
}

.offer__features-left {
  margin-left: 6px;
}

.offer__features-right {
  margin-right: 39px;
}

.offer__future-cal,
.offer__future-meal {
  margin-right: 10px;
}

.offer__text {
  font-size: 14px;
  color: #303030;
  margin-top: 23px;
  line-height: 21px;
  margin-bottom: 43px;
}

.uncommon-button {
  background: #ffffff;
}

.uncommon-button-second {
  background: #F5170E;
}

.news__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 55px;
}

.news {
  margin-bottom: 53px;
  display: flex;
  justify-content: space-between;
}

.news.item {
  width: 557px;
  height: 394px;
  flex: 1;
}

.single-news {
  position: relative;
  vertical-align: top;
  border-radius: 5px;
}

.single-news__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.single-news__description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 31px;
  padding-right: 31px;
  min-height: 140px;
}

.single-news__date {
  font-size: 14px;
}

.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 19px;
  margin-bottom: 10px;
}

.single-news__text {
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination--light {
  color: #000;
}

.pagination--light .pagination__item--active .pagination__link {
  background: #F5170E;
  color: #fff;
  font-weight: bold;
}

.pagination--light .pagination__link:hover {
  color: #000;
  font-weight: bold;
  background: #F5170E;
  color: #fff;
}

.pagination--light .pagination__item--active {
  background: #F5170E;
  color: #fff;
}

.pagination__item {
  display: flex;
  align-items: center;
  text-align: center;
}

.pagination__info {
  margin-right: 36px;
}

.pagination__list {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.pagination__item--active {
  background: #fff;
  color: #F5170E;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-decoration: none;
  display: block;
}

.pagination__item--active .pagination__link {
  font-weight: bold;
  background: #fff;

}

.pagination__link {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-decoration: none;
}

.pagination__link:hover {
  background: #fff;
  color: #F5170E;
}

.about {
  display: flex;
  margin-top: 146px;
  margin-bottom: 50px;
}

.about:before {
  display: block;
  content: "";
  width: 490px;
  height: 505px;
  background: url("./img/avatars/gates.png") center center / cover no-repeat;
}

.about__desc {
  content: "";
  width: 785px;
  height: 455px;
  background: url("./img/avatars/mountains.png") center center / cover no-repeat;
  padding: 71px 80px;
  margin-left: -136px;
  margin-top: 97px;
  color: #000;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 45px;
}

.about__desc-text {
  margin-bottom: 43px;
  color: #060606;
  line-height: 27px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 59px;
  margin-right: 124px;
}

.footer {
  position: relative;
  height: 149px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer__column {
  display: flex;
  align-items: center;
}

.footer__column--align--right {
  align-items: flex-end;
}

.inner-footer {
  max-width: 100%;
  background: #001821;
  color: #fff;
}

.container__content {
  height: 140px;
  margin-bottom: 12px;
}

.socials {
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  height: 36px;
  width: 36px;
  text-decoration: none;
  background: center center no-repeat
}

.socials__item.socials__item--tg .social__link {
  background-image: url("./img/icon/telegram.png");
}

.socials__item.socials__item--tg .social__link:hover {
  background-image: url("./img/icon/t2.png");
}

.socials__item.socials__item--vk .social__link {
  background-image: url("./img/icon/vk.png");
}

.socials__item.socials__item--vk .social__link:hover {
  background-image: url("./img/icon/vk2.png");
}

.socials__item.socials__item--fb .social__link {
  background-image: url("./img/icon/f.png");
}

.socials__item.socials__item--fb .social__link:hover {
  background-image: url("./img/icon/f2.png");
}

.socials__item.socials__item--in .social__link {
  background-image: url("./img/icon/in.png");
}

.socials__item.socials__item--in .social__link:hover {
  background-image: url("./img/icon/in2.png");
}

/* services page */

.top-line {
  min-height: 408px;
  background: #001821 url(./img/background/headline-one.png) right 50% top no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs__list {
  color: #9A9A9A;
  font-size: 14px;
  display: flex;
}

.breadcrumbs__item--active {
  font-weight: bold;
  text-decoration: underline;
}

.breadcrumbs__item:after {
  content: "/";
  font-size: 14px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link--review {
  margin-left: 4px;
}

.breadcrumbs__link--services {
  margin-left: 4px;
}

.page-content {
  background: #F2F2F2;
  color: #303030;
  padding: 87px 0;
}

.services {
  margin-bottom: 8px;
}

.service {
  display: flex;
  padding-bottom: 49px;
}

.service__pic {
  width: 38%;
  margin-right: 7%;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 15px;
  color: #000000;
}

.service__desc {
  margin-bottom: 53px;
  line-height: 1.7;
}

.button__color--transparent {
  color: #F5170E;
  width: 168px;
  padding: 18px 39px;
}

.button__color--transparent:hover {
  background: #F5170E;
  color: #ffffff
}

.button__color--opposite {
  background: #F5170E;
  color: #ffffff;
  width: 168px;
  padding: 18px 39px;
}

.button__color--opposite:hover {
  background: #fff;
  color: #F5170E;
}

.inner-section {
  background: #F4F5F5;
  color: #1A1B1E;
  padding-top: 67px;
}

.inner-section--bg--grey {
  background: F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 61px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 128px;
  align-items: center;
  justify-content: center;
}

.partners__link:hover {
  filter: grayscale(100%);
  transition: filter 1s;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 72px;
}

.partners__item {
  margin-left: 45px;
}

.partners__item:nth-child(4n+1) {
  margin-left: 0;
}

/* review */

.page-content-review {
  background: #fff;
}

.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 70px;
}

.reviews__item {
  margin-bottom: 20px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #F4F5F5;
}

.review__header {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.review__userdata {
  margin-left: 23px;
  margin-top: 28px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 6px;
}

.review__user:after {
  content: url("./img/icon/vk-blue.png");
  height: 30px;
  margin-left: 6px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

.tag {
  font-size: 13px;
  color: #303030;
  border-radius: 50px;
  padding: 10px 16px;
  background: #E7E7E7;
  margin-bottom: 9px;
  height: 37px;
}

.tag--background--color {
  background: #B9EAE4;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.review__title {
  font-size: 30px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 24px;
}

.review__text {
  margin-bottom: 50px;
  color: #818181;
  line-height: 1.6;
}

.review__date {
  color: #1A1B1E;
  font-size: 14px;
  /* font-weight: semibold; */
}

.separator {
  background: url("./img/avatars/couple.png") right 20% bottom no-repeat, url("./img/background/Rectangle.png") center center no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.separator__content {
  max-width: 55%;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
}

.form__row {
  display: flex;
  margin-bottom: 33px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 4px;
  border: none;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  color: #1A1B1E;
}

.form__input::placeholder {
  color: #666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 235px;
}

.controls__item {
  cursor: pointer;
  margin-left: 4px;
}

.controls__checkbox:checked~.controls__tag {
  background: #B9EAE4;
  color: #1A1B1E;
}

.controls__checkbox {
  display: none;
}

.form__controls {
  display: flex;
  margin-bottom: 12px;
}

.form__controls-title {
  width: 39%;
  padding-left: 4px;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-right: 10px;
}

.uncommon-button-black {
  width: 168px;
  color: #fff;
  background: #2B2B2B;
  border: none;
}

.uncommon-button-black:hover {
  color: #fff;
  background: #8E8E8E;
  /* border: none; */
}

.uncommon-button-second {
  width: 168px;
}

.form__button {
  margin-right: 20px;
}

.form__button:last-child {
  margin-right: 0px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 87px;
}

/* welcome page */

.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url("./img/welcome/shades.png") center center no-repeat, url("./img/welcome/welcome-bg.png") center center no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: heartBeat;
  animation-duration: calc(var(--animate-duration) * 1.3);
  animation-timing-function: ease-in-out;
}

.welcome-button {
  padding: 18px 58px;
}

/* animate__heartBeat */
/* 

@keyframes heartbeat {

  0% {
    transform: scale(.7);
  }

  20% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
} */


@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

/* .heartBeat {
  animation-name: heartBeat;
  animation-duration: calc(var(--animate-duration) * 1.3);
  animation-timing-function: ease-in-out;
} */